<div class="page-container">
  <div class="sidebar-menu">
    <div class="sidebar-menu-inner">
      <header class="logo-env">
        <!-- logo -->
        <div class="logo" style="text-align: center"> <a href="index.html">
                <img src="assets/images/logo-white.png" width="200" alt="" />
                </a>
        </div>
      </header>
      <ul id="main-menu" class="main-menu">
        <!-- add class "multiple-expanded" to allow multiple submenus to open -->
        <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
        <li class="opened active"> <a href="index.html">
                <i class="entypo-gauge"></i>
                <span class="title">Statistics</span>
                </a>
        </li>
        <li class="has-sub opened">
          <a href="layout-api.html">
                <i class="entypo-layout"></i>
                <span class="title">Proposals</span>
                </a>
          <ul>
            <li> <a href="layout-api.html">
                      <span class="title">Issues</span>
                      </a>
            </li>
            <li> <a href="layout-api.html">
                      <span class="title">Legislation</span>
                      </a>
            </li>
            <li> <a href="layout-api.html">
                      <span class="title">Campaign</span>
                      </a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="mailbox.html">
                <i class="entypo-mail"></i>
                <span class="title">Updates</span>
                <span class="badge badge-secondary">8</span>
                </a>

        </li>
        <li class="">
          <a href="forms-main.html">
                <i class="entypo-doc-text"></i>
                <span class="title">Directory of Representatives</span>
                </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <h1>Legislations</h1>
    <hr>

    <script type="text/javascript">
      jQuery(window).load(function() {
        var $table2 = jQuery("#table-2");

        // Initialize DataTable
        $table2.DataTable({
          "sDom": "tip",
          "bStateSave": false,
          "iDisplayLength": 8,
          "aoColumns": [{
              "bSortable": false
            },
            null,
            null,
            null,
            null
          ],
          "bStateSave": true
        });

        // Highlighted rows
        $table2.find("tbody input[type=checkbox]").each(function(i, el) {
          var $this = $(el),
            $p = $this.closest('tr');

          $(el).on('change', function() {
            var is_checked = $this.is(':checked');

            $p[is_checked ? 'addClass' : 'removeClass']('highlight');
          });
        });

        // Replace Checboxes
        $table2.find(".pagination a").click(function(ev) {
          replaceCheckboxes();
        });
      });

      // Sample Function to add new row
      var giCount = 1;

      function fnClickAddRow() {
        jQuery('#table-2').dataTable().fnAddData(['<div class="checkbox checkbox-replace"><input type="checkbox" /></div>', giCount + ".1", giCount + ".2", giCount + ".3", giCount + ".4"]);
        replaceCheckboxes(); // because there is checkbox, replace it
        giCount++;
      }
    </script>

    <table class="table table-bordered table-striped datatable" id="table-2">
      <thead>
        <tr>
          <th>Bill Name</th>
          <th>Bill ID</th>
          <th>Introduced</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let bill of data">
          <td>{{bill.Id}}</td>

          <td>{{bill.ShortTitle}}</td>
          <td> {{bill.IntroductionDate}} </td>
          <td>
            <a class="btn btn-info btn-md btn-icon icon-middle" routerLink="/bill/{{bill.LegislationNumber}}">Vote</a>
          </td>
        </tr>
      </tbody>
    </table>

    <br />

  </div>

</div>
