<div class="page-container">
  <div class="sidebar-menu">
    <div class="sidebar-menu-inner">
      <header class="logo-env">
        <!-- logo -->
        <div class="logo" style="text-align: center"> <a href="index.html">
                <img src="assets/images/logo-white.png" width="200" alt="" />
                </a>
        </div>
      </header>
      <ul id="main-menu" class="main-menu">
        <!-- add class "multiple-expanded" to allow multiple submenus to open -->
        <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
        <li class="opened active"> <a href="index.html">
                <i class="entypo-gauge"></i>
                <span class="title">Statistics</span>
                </a>
        </li>
        <li class="has-sub opened">
          <a href="layout-api.html">
                <i class="entypo-layout"></i>
                <span class="title">Proposals</span>
                </a>
          <ul>
            <li> <a href="layout-api.html">
                      <span class="title">Issues</span>
                      </a>
            </li>
            <li> <a href="layout-api.html">
                      <span class="title">Legislation</span>
                      </a>
            </li>
            <li> <a href="layout-api.html">
                      <span class="title">Campaign</span>
                      </a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="mailbox.html">
                <i class="entypo-mail"></i>
                <span class="title">Updates</span>
                <span class="badge badge-secondary">8</span>
                </a>
        </li>
        <li class="">
          <a href="forms-main.html">
                <i class="entypo-doc-text"></i>
                <span class="title">Directory of Representatives</span>
                </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="main-content">


    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <h1>{{data.Legislation.ShortTitle}}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>
                              Information
                              <br />

                          </h4>
            </div>
          </div>

          <div class="panel-body">
            <p style="font-size: 14px"><strong>Act Number:</strong> {{data.Legislation.ActNumber}}</p>
            <p style="font-size: 14px"><strong>Co Sponsor:</strong> {{data.Legislation.CoSponsor}}</p>
            <p style="font-size: 14px"><strong>Committee Referral:</strong> {{data.Legislation.CommitteeReferral}}</p>
            <hr>
            <p style="font-size: 14px">{{data.Legislation.AdditionalInformation}}</p>

            <hr>

            <a href="{{data.Legislation.DocumentUrl}}">{{data.Legislation.DocumentUrl}}</a>
          </div>
        </div>

        <form role="form" class="form-horizontal form-groups-bordered">

          <div class="form-group">
            <label class="col-sm-3 control-label">Donation Amount</label>

            <div class="col-sm-5">
              <input type="text" class="form-control" data-mask="fdecimal" placeholder="" data-dec="," data-rad="." maxlength="10" [(ngModel)]="request.etherAmount" />
              <input type="radio" name="vote" value="true" [(ngModel)]="request.userDecision" checked>For<br>
              <input type="radio" name="vote" value="false" [(ngModel)]="request.userDecision">Against<br>
              <button type="submit" form="form1" value="Submit" (click)="deposit()">Submit</button>

            </div>
          </div>

        </form>

      </div>

      <div class="col-sm-3">

        <div class="tile-progress tile-green">
          <div class="tile-header">
            <h3>Funded for {{data.Legislation.ActNumber}}.</h3>
          </div>

          <div class="tile-progressbar">
            <span data-fill="44%"></span>
          </div>

          <div class="tile-footer">
            <h4></h4>
            <span>donated for the approval of this bill.</span>
          </div>
        </div>

        <div class="tile-progress tile-red">
          <div class="tile-header">
            <h3>Funded against {{data.Legislation.ActNumber}}.</h3>
          </div>

          <div class="tile-progressbar">
            <span data-fill="32.2%"></span>
          </div>

          <div class="tile-footer">
            <h4>USD$153.32 in ETH</h4>
            <span>donated against this bill.</span>
          </div>
        </div>



      </div>

    </div>



  </div>
